.col{
    display: flex;
    background-color:yellow;
    height: 1050px;
    flex-wrap: wrap;
}
.col1{
    
    width: 300px;
    height: 300px;
    margin: 18px;
    margin-top: -10px;
    flex-wrap: wrap;
    border-radius: 50px;
    flex-wrap: wrap;
}
.col1:hover {
box-shadow: 0px 0px 25px rgb(87, 6, 236);
transform: scale(1.01);

}
.margin{
    margin-top: 20px;
    margin-left: 120px;
    
}
.margin1{
    display: flex;
    margin-left: 135px;
    justify-content: center;
    align-items: center;
    background-color:black;
    margin-left: 20px;
    margin-right: 200px;
    color:white;
    border-radius: 20px;
    flex-wrap: wrap;
    height: 50px;
    margin: 20px;

}
.margin1:hover{
    background-color: blue;
}
.col2:hover{
    background-color: red;
    box-shadow: 0px 0px 25px yellow;
    border-color: blue;
}
.col3:hover{
    background-color: green;
    box-shadow: 0px 0px 25px yellow;
    border-color: blue;
}

.color{
    color: blue;
}

